:root {
  --color-font-primary: rgb(33, 33, 33);
  --color-font-primary-alpha: rgba(33, 33, 33, 0.2);
  --color-special-primary: rgb(33, 150, 243);
  --color-special-primary-opacity: rgba(33, 150, 243, 0.9);
  --color-special-secondary: rgb(89, 0, 255);
  --color-white: rgb(255, 255, 255);
  --color-white-alpha: rgba(255, 255, 255, 0.6);
  --color-font-secondary: rgb(117, 117, 117);
  --color-font-secondary-alpha: rgba(117, 117, 117, 0.5);
  --color-background-primary: rgb(47, 48, 58);
  --color-buttons: rgb(245, 244, 250);
  --color-black: rgb(0, 0, 0);
  --text-shadow-primary: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --color-header-border: rgb(236, 236, 236);
  --color-image-border: rgb(238, 238, 238);
  --color-icons-primary: rgb(175, 177, 184);
  --color-bg-footer-icons: rgba(255, 255, 255, 0.1);
  --color-modal-close-button: rgba(0, 0, 0, 0.1);
  --color-modal-bg: rgba(0, 0, 0, 0.2);
  --color-image-name-font: rgba(47, 48, 58, 0.8);
}
body,
body a {
  font-family: "roboto", sans-serif;
  color: var(--color-font-primary);
}
ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
textarea:focus,
input:focus {
  outline: none;
}
textarea {
  border: none;
  border-radius: 4px;
}
::placeholder {
  color: var(--color-font-secondary-alpha);
}
ul {
  list-style-type: none;
}
.logo {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: var(--color-black);
}
.logo-color-special {
  color: var(--color-special-primary);
}
.logo-footer {
  color: var(--color-white);
}
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill;
  transition-duration: 250ms;
}
.header-contact {
  display: flex;
  align-items: center;
  color: var(--color-font-secondary);
}
.header:hover,
.header:focus,
.footer-contact:hover,
.footer-contact:focus,
.header-icons:hover,
.header-icons:focus {
  color: var(--color-special-primary);
  fill: var(--color-special-primary);
}
.active-web {
  position: relative;
  display: flex;
  padding: 32px 0px;
  color: var(--color-special-primary);
  fill: var(--color-special-primary);
}
.button-primary:hover,
.button-primary:focus {
  color: var(--color-special-secondary);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  fill: var(--color-special-secondary);
}
.button-filters:hover,
.button-filters:focus {
  color: var(--color-white);
  background-color: var(--color-special-primary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.title-primary {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 30px;
}
.main-bg-box {
  display: flex;
  background: url(../images/mainpage-background.jpg),
    linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button-primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--color-special-primary);
  padding: 10px 41px 10px 42px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, box-shadow, fill;
  transition-duration: 250ms;
  fill: var(--color-white);
}
.list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-font-secondary);
}
.mainpage-titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.images-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-font-secondary);
}
.images-text-bold {
  font-weight: 500;
  color: var(--color-font-primary);
}
.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-white);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill;
  transition-duration: 250ms;
  width: 246px;
}
.footer-contact-alpha {
  color: var(--color-white-alpha);
}
.footer-bg-box {
  background-color: var(--color-background-primary);
  display: flex;
}
.button-filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--color-buttons);
  padding: 6px 22px;
  margin-right: 8px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, box-shadow;
}
.button-filters-active {
  color: var(--color-white);
  background-color: var(--color-special-primary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-image-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-font-secondary);
  margin: 0 24px 20px;
}
.portfolio-image-text-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0px 24px 4px;
}
.button-standard {
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header-box {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-header-border);
}
.grow-medium {
  flex-grow: 3;
}
.grow-small {
  flex-grow: 1;
}
.header-contact-box {
  gap: 30px;
  display: flex;
}
.filter-box {
  display: flex;
  gap: 46px;
  align-items: center;
}
.section {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-main-box {
  flex-direction: column;
}
.button-filters-box {
  margin-bottom: 16px;
  display: flex;
}
.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 34px;
}
.portfolio-imagetext-border {
  padding-top: 20px;
  border-bottom: 1px solid var(--color-image-border);
  border-right: 1px solid var(--color-image-border);
  border-left: 1px solid var(--color-image-border);
}
.footer-box {
  align-items: normal;
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 70px;
}
.footer-address-box {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 9px;
}
.mainpage-primary-box {
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px;
  flex-wrap: wrap;
  flex-direction: column;
}
.list-box {
  gap: 30px;
}
.mainpage-titles-box {
  flex-direction: column;
  gap: 50px;
  padding-bottom: 94px;
}
.mainpage-titles-images-box {
  display: flex;
  gap: 30px;
}
.mainpage-section-box {
  flex-direction: column;
}
.mainpage-elements-box {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}
.mainpage-ourteam-bg-box {
  background-color: var(--color-buttons);
}
.mainpage-ourteam-image-border {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
}
.mainpage-ourteam-image-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 16px;
  gap: 10px;
}
.header-icons {
  margin-right: 10px;
}
.list-icon-box {
  display: flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--color-buttons);
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.mainpage-ourteam-image-media-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.mainpage-ourteam-image-media-box li {
  display: flex;
}

.mainpage-image-media-icon {
  padding: 12px 12px;
  fill: var(--color-icons-primary);
  max-height: 44px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill;
  border-radius: 50%;
  transition-duration: 250ms;
}
.mainpage-image-media-icon:hover,
.mainpage-image-media-icon:focus,
.footer-media-icon:hover,
.footer-media-icon:focus {
  display: flex;
  background-color: var(--color-special-primary);
  border-radius: 50%;
  fill: var(--color-white);
}
.mainpage-ourcustomers-box {
  display: flex;
  padding: 16px 32px;
  border: 1px solid var(--color-icons-primary);
  border-radius: 4px;
  fill: var(--color-icons-primary);
}
.mainpage-ourcustomers-box:hover,
.mainpage-ourcustomers-box:focus {
  cursor: pointer;
  border: 1px solid var(--color-special-primary);
}
.mainpage-ourcustomers-box svg {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, border;
  transition-duration: 250ms;
}
.mainpage-ourcustomers-box:focus svg,
.mainpage-ourcustomers-box:hover svg {
  fill: var(--color-special-primary);
}
.footer-inbox {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}
.footer-media-icon-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer-media-icon {
  display: flex;
  padding: 12px 12px;
  border-radius: 50%;
  fill: var(--color-white);
  max-height: 44px;
  background-color: var(--color-bg-footer-icons);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, background-color;
  transition-duration: 250ms;
}
.footer-joinus-box {
  margin-top: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.portfolio-box > li {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill, background-color, box-shadow;
  transition-duration: 250ms;
}
.portfolio-box > li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 528px;
  height: 581px;
  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-bg {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-modal-bg);
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, background-color, visibility;
  transition-duration: 1s;
  z-index: 1;
}
.modal-close {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  fill: var(--color-black);
  border-radius: 50px;
  cursor: pointer;
  padding: 6px;
  background-color: var(--color-white);
  border-color: var(--color-modal-close-button);
  margin: 8px;
}
.mainpage-titles-image-box-single div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  background: var(--color-image-name-font);
  color: var(--color-white);
}
.mainpage-titles-image-box-single {
  position: relative;
  height: 293px;
}
.active-web::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  border: solid;
  background-color: var(--color-special-primary);
  width: 100%;
  bottom: 0;
  pointer-events: none;
}

.portfolio-overlay {
  position: absolute;
  background-color: var(--color-special-primary-opacity);
  opacity: 0.5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  opacity: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity;
}
.portfolio-overlay-box {
  position: relative;
  overflow: hidden;
}
.active:hover .portfolio-overlay-box .portfolio-overlay {
  transform: translateY(0);
  opacity: 1;
}
.portfolio-overlay p {
  margin: 49px 45px 49px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-white);
}
.footer-news-label {
  display: flex;
  flex-direction: column;
  width: 387px;
  gap: 20px;
}

.footer-news {
  display: flex;
  gap: 12px;
  margin-left: 8px;
  margin-top: 12px;
}
.footer-news-button {
  display: flex;
  width: 200px;
  height: 50px;
  margin-top: 35.97px;
  align-items: center;
  justify-content: space-between;
  padding-left: 42px;
  padding-right: 28px;
}
.footer-news-label input:focus {
  border: 1px solid var(--color-special-primary);
}
.footer-news-label input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--color-white-alpha);
  background-color: var(--color-background-primary);
  padding-left: 16px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
  transition-duration: 250ms;
}
.modal-label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-font-secondary);
  margin-bottom: 10px;
  gap: 4px;
  width: 100%;
}
.modal-label input {
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 4px;
}
.modal-label label {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-font-primary-alpha);
  border-radius: 4px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, border-color;
  transition-duration: 250ms;
}
.modal-label label:focus-within {
  fill: var(--color-special-primary);
  border-color: var(--color-special-primary);
}
.modal-inner-box {
  padding: 40px;
  flex-grow: 1;
  width: 100%;
}
.modal-label label svg {
  margin-left: 12px;
  margin-right: 12px;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal-label textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.checkbox {
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-font-secondary);
  gap: 8px;
  padding-top: 10px;
}
.checkbox a {
  color: var(--color-special-primary);
}
.checkbox-input {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}
.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkbox-border {
  position: absolute;
  left: 3px;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
  transition-duration: 250ms;
}
.checkbox-input:checked + .checkbox-label .checkbox-border {
  fill: var(--color-white);
  opacity: 1;
}
.checkbox-input:checked + .checkbox-label .checkbox-check {
  fill: var(--color-special-primary);
  background-color: var(--color-special-primary);
}
.checkbox-check {
  border-radius: 2px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, background-color;
  transition-duration: 250ms;
}
.modal-submit-button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
}

.modal-inner-box form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
